{% if commentList is not empty %}
<div class="commentList" style="margin:10px">

    <h3 class="commentList_title" style="color:blue;">Commentaires</h3>

	{% for comment in commentList %}
		
    <div style="border-top:2px solid gray;padding:5px;">

        <div>
            <p style="color:black;">{{ comment.body }}</p>
            <span>{{ comment.updated_at is not empty ? comment.updated_at : comment.createdAt|date("l d F à G\\hi") }}</span>
            <span style="color:gray;">{{ comment.user.name }}</span>
        </div>

		<a href="{{ post.id }}/deleteComment/{{ comment.id }}"><img class="" src="../../public/assets/images/poubelle.png" alt="insta" /></a>

    </div>
	{% endfor %}
</div>
{% else %}
<p>Il n'y a pas encore de commentaires, Commentez !! ;)</p>
{% endif %}
