{% extends "base.twig" %}

{% block content %}

    Ecrire un post page de formulaire

    {{ dump(updatePost)}}
    {{ dump(userSession.id)}}

    <h2>Ajouter un nouvel article</h2>



    <form action="{{ post ? '/updatePost' : '/post/addPost' }}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="title">Titre</label>
            <input type="text" name="title" value="{{ post ? post.title : ''}}">
        </div>
        <div>
            <label for="chapo">Chapo</label>
            <textarea name="chapo">{{ post ? post.chapo : ''}}</textarea>
        </div>
        <div>
            <label for="body">Article</label>
            <textarea name="body">{{ post ? post.body : ''}}</textarea>
        </div>
        <div>
            <label for="picture">Image : </label>
            <input type="file" id="picture" name="picture"  value="{{ post ? post.image : '' }}">
        </div>

       
        <input hidden type="text" name="status" value="{{ post ? post.status : 'active' }}">
        <input hidden type="number" name="userId" value="{{ post ? post.user.id : userSession.id }}">

        <input hidden type="number" name="identifiant" value="<?= (empty($viewData['post'])) ? '' : $viewData['post']->getId() ?>">
        <button type="submit">{{ post ? 'Mettre à jour' : 'Créer'}}</button>
    </form>


{% endblock %}
