
{% extends "base.twig" %}

{% block content %}

<h2>HoMe POST : CRUD utilisateur</h2>

<ul class="">

    {% for post in postList %}

    <li class="post">
        <div>
            <h3 class="post_title">
                {% if post.image is not empty %}
                    <img class="post_img" src="/public/assets/images/uploads/{{ post.image }}" alt="logo" />
                {% else %}
                    <img class="post_img" src="/public/assets/images/article.png" alt="logo" />
                {%  endif %}
                {{ post.title }}
            </h3>
            <p>{{ post.chapo }}</p>
            <p class="post_author">{{ post.user ? post.user.name : 'Autheur inconnu' }}</p>
            <p>{{ post.updated_at is not empty ? post.updated_at : post.createdAt }}</p>
        </div>
        <ul class="post_btn">
            <li class="btn btn--add"> <a href="/post/{{ post.id }}">Voir</a></li>
        </ul>
    </li>
    {% endfor %}	
</ul>

<ul class="pagination">
    {% for i in 1..nbPage %}
            <li class="{{pageActive == i ? 'pageActive': ''}}"><a href="/posts/{{ i }}">{{ i }}</a></li>
    {% endfor %}
</ul>

{% endblock %}