{% extends "base.twig" %}

{% block content %}

	<h1><img class='' src="/public/assets/images/uploads/{{ post.image }}" alt=""/> {{ post.title }}</h1>

	<span class="post_date">{{ post.updatedAt is not empty ? post.updatedAt|date("l d F à G\\hi") : post.createdAt|date("l d F à G\\hi") }}</span>
	<p>{{ post.body }}</p>

	<p class="post_author">{{ post.user ? post.user.name : 'Autheur inconnu' }}</p>

	<div class="comments">
		{% include 'comment/listComment.twig' %}
		{% include 'comment/formComment.twig' %}
	</div>

{% endblock %}
