{% extends "base.twig" %}

{% block content %}
    {% include 'user/launcher.twig' %}

    <h2>Mettre à jour un utilisateur</h2>
{{ dump(user) }}
    <form action="/user/{{ user.id }}/update" method="post" enctype="multipart/form-data">

        <div>
            <label for="firstname">Prénom</label>
            <input type="text" name="firstname" value="{{ user ? user.firstname : '' }}">
        </div>
        <div>
            <label for="lastname">Nom</label>
            <input type="text" name="lastname" value="{{ user ? user.lastname : '' }}">
        </div>
        <div>
            <label for="picture">Image : </label>
            <input type="file" id="picture" name="picture">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" value="{{ user ? user.email : '' }}">
        </div>
        <div>
            <label for="password">mot de passe</label>
            <input type="password" name="password" value="{{ user ? user.password : '' }}">
        </div>

        <input hidden type="number" name="identifiant" value="{{ user ? user.id : '' }}">
    <button type="submit">{{ user ? 'mettre à jour' : 'Créer' }}</button>
    </form>

{% endblock %}

