{% extends "base.twig" %}

{% block content %}
    {% include 'user/launcher.twig' %}

    <h2>{{ userSession ? 'Mettre à jour ' : 'Ajouter'}} un utilisateur</h2>
{#  TODO nettoyer le adda user qui ne sert plsu a rien  #}
    <form action="{{ userSession ? '/user/update' : '/user/add'}}" method="{{ 'post' }}" enctype="multipart/form-data">

        <div>
            <label for="firstname">Prénom</label>
            <input type="text" name="firstname" value="{{ userSession ? userSession.firstname : '' }}">
        </div>
        <div>
            <label for="lastname">Nom</label>
            <input type="text" name="lastname" value="{{ userSession ? userSession.lastname : '' }}">
        </div>
        <div>
            <label for="picture">Image : </label>
            <input type="file" id="picture" name="picture">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" value="{{ userSession ? userSession.email : '' }}">
        </div>
        <div>
            <label for="password">mot de passe</label>
            <input type="password" name="password" value="{{ userSession ? userSession.password : '' }}">
        </div>

        <input hidden type="number" name="identifiant" value="{{ userSession ? userSession.id : '' }}">
    <button type="submit">{{ userSession ? 'mettre à jour' : 'Créer' }}</button>
    </form>

{% endblock %}

