{% extends "base.twig" %}

{% block content %}
<<<<<<< HEAD
    {% include 'user/launcher.twig' %}

    <h2>Mettre à jour un utilisateur</h2>
{{ dump(user) }}
    <form action="/user/{{ user.id }}/update" method="post" enctype="multipart/form-data">

        <div>
            <label for="firstname">Prénom</label>
            <input type="text" name="firstname" value="{{ user ? user.firstname : '' }}">
        </div>
        <div>
            <label for="lastname">Nom</label>
            <input type="text" name="lastname" value="{{ user ? user.lastname : '' }}">
        </div>
        <div>
            <label for="picture">Image : </label>
            <input type="file" id="picture" name="picture">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" value="{{ user ? user.email : '' }}">
        </div>
        <div>
            <label for="password">mot de passe</label>
            <input type="password" name="password" value="{{ user ? user.password : '' }}">
        </div>

        <input hidden type="number" name="identifiant" value="{{ user ? user.id : '' }}">
    <button type="submit">{{ user ? 'mettre à jour' : 'Créer' }}</button>
=======


    {% include 'user/launcher.twig' %}


{{ dump(userSession) }}
    <?php
        $updateUser = false;
        if (!empty($viewData['user'])) {
            var_dump($viewData);
            $updateUser = true;
        }
        var_dump('$updateUser', $updateUser);
    ?>

    <h2>{{ userSession ? 'Mettre à jour ' : 'Ajouter'}} un utilisateur</h2>

    <form action="{{ userSession ? '/user/' ~ userSession.id ~ '/update' : '/user/add'}}" method="{{ userSession ? 'get' : 'post'}}">

        <div>
            <label for="firstname">Prénom</label>
            <input type="text" name="firstname" value="{{ userSession ? userSession.firstname : '' }}">
        </div>
        <div>
            <label for="lastname">Nom</label>
            <input type="text" name="lastname" value="{{ userSession ? userSession.lastname : '' }}">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" value="{{ userSession ? userSession.email : '' }}">
        </div>
        <div>
            <label for="password">mot de passe</label>
            <input type="password" name="password" value="{{ userSession ? userSession.password : '' }}">
        </div>

        <button type="submit">{{ userSession ? 'mettre à jour' : 'Créer' }}</button>
>>>>>>> 6bd4ff5 (design user page)
    </form>

{% endblock %}

