{% extends "base.twig" %}

{% block content %}

	<div class="headerUser">
		<h1><img class="pictureUser" src="{{ userSession.picture ? '/public/assets/images/uploads/' ~ userSession.picture : '/public/assets/images/portrait.png' }}" alt=""/>Bien le bonjour
			<span class="nameUser">{{ userSession.name }}</span>
			!</h1>
		<a href="/user/{{ userSession.id }}/form"><img class="post_img" src="/public/assets/images/article.png" alt="modifier mes données"/></a>
	</div>

	{% if userSession.role %}

		{% if allPosts is not empty %}
			<ul class="link_list">
				<li class="link_new_posts">
					<a class="btn" href="/user/{{ userSession.id }}/formPost">
						Ecrire un nouveau post
						<img class="post_img" src="/public/assets/images/article.png" alt="écrire un post"/>
					</a>
				</li>
				<li class="link_see_all_posts">
					<a class="btn" href="/admin/posts">Voir tous les posts</a>
				</li>
				<li class="link_see_all_comments">
					<a class="btn" href="/admin/comments">Voir tous les Comments</a>
				</li>
			</ul>
		{% endif %}

		
	{% endif %}

	<h2>Vos commentaires :</h2>

	{% if commentsByUser is not empty %}
		<ul>
			{% for comment in commentsByUser %}
				<li class="commentUser commentUser-{{ comment.status }}">
					<div>
						<p class="comment_body">{{ comment.body }}</p>
						<p>{{ comment.updated_at is not empty ? comment.updated_at : comment.createdAt|date("l d F à G\\hi") }}</p>
						<p class="comment_author">{{ comment.user.name }}</p>
					</div>

					<a class="comment_delete" href="/comment/{{ comment.id }}/delete"><img class="" src="/public/assets/images/poubelle.png" alt="supprimer"/></a>

				</li>
			{% endfor %}
		</ul>

	{% else %}
		<p>Vous n'avez pas encore écrit de commentaire !</p>
	{% endif %}

{% endblock %}
